<h1>Welcome</h1>
<hr>
<p>We got all the cars you could ever want</p>
<div class="upage vertical-col left" id="mainpage">
<div>
  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJB4-WBfthwokRvXYjHbpm_0k&key=AIzaSyBJBeGGnYIKaYvLzdM0zQHnJlx5bItu-6M" allowfullscreen></iframe>
</div>
  <div class="small-4 columns">


  <div class="image-wrapper overlay-fade-in">

    <img src="http://cdn.bmwblog.com/wp-content/uploads/2017/01/Yas-Marina-Blue-BMW-M3-Looking-Clean-Impressive-Image-4.jpg" />

    <div class="image-overlay-content">
      <h2>BMW M3</h2>
      <p class="price">$45,000</p>
      <a href="#" class="button">Get it</a>
    </div>

  </div>

</div>



  <div class="small-4 columns">

    <div class="image-wrapper overlay-slide-in-left">

      <img src="http://zombdrive.com/images/2015-audi-s5-1.jpg" />

      <div class="image-overlay-content">
        <h2>Audi S5</h2>
        <p class="price">Starting At $40,000</p>

      </div>

    </div>

  </div>
  <div class="small-4 columns">

    <div class="image-wrapper overlay-fade-in-new-background">

      <img src="http://blog.stillen.com/wp-content/gallery/09maxima_3/STILLEN_2009_Nissan_Maxima_01.jpg" />

      <div class="image-overlay-content">
        <h2>Nissan Maxima</h2>
        <p class="price">$14,000</p>
        <a href="#" class="button">Want!</a>
      </div>

    </div>

  </div>

</div>

<div class="image-wrapper overlay-fade-in"> <img src="http://hanabi.autoweek.com/sites/default/files/styles/gen-1200-675/public/01-dinan-m5-s1.jpg?itok=rUireI_0">

</div>
